{{ define "main" }}

<style>
    .list-group-item {
        font-size: 1.2em;
        padding: 1em 2em 1em 2em;

    }

    li.list-group-item { color: #444;}

    .list-group-item a {
        text-decoration: none;

    }

    .app-icon {width: 2em; height: 2em; vertical-align: middle; margin-right: 0.5em;
    
        

/*image-rendering: -moz-crisp-edges*/

    }
</style>

{{- partial "centered_nothing.html" . -}}


<!--
<div class="container-fluid">

    <div class="row mt-5">
        <div class="col-sm-8 mb-5" style="display: flex;
        justify-content: center;">


            
            
            <ul class="list-group list-group-flush" >
                <a class="list-group-item" href="{{"/rmbr_artworks" | relLangURL}}">
                    <img src="/images/rmbr_artworks/RmbrArtworks-icon-mondrian-v4-512-justbigger.jpg" class="app-icon rounded">
                    Rmbr Artworks!
                </a> 

                <a class="list-group-item" href="/ru/smarter_than_average">
                    <img src="/images/sta/sta-4000-w448-gplay.jpg" class="app-icon rounded">
                    Умнее среднего
                </a>
                <a class="list-group-item" href="{{"/momentix" | relLangURL}}">
                    <img src="/images/momentix/atom-icon-403-ps.jpg" class="app-icon rounded">
                    
                    Momentix
                </a> 
                <a class="list-group-item" href="{{"/kremlin_clock"| relLangURL}}">
                    <img src="/images/kremlin/star-512d.jpg" class="app-icon rounded">
                    Kremlin Atomic Clock
                </a>
            </ul>

        
        
        </div>

        <div class="col-sm-4">
            <div class="container-fluid text-center">
                <img src="/images/under-construction-4401023_1280.png" class="img-fluid" style="opacity: 0.5;">
            </div>
        </div>



    </div>
</div>
    -->

{{ end }}