<style>
.vertical-center {
  min-height: 66%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 66vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

</style>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Mono&display=swap" rel="stylesheet">

<div class="vertical-center">
    <div class="container"
         style="font-size:400%; text-align:center;
                color: #CCC; font-weight:400;
                letter-spacing:0.05em;
                font-family: 'PT Mono', monospace;
                transform: rotate(-225deg);"
         id="binary">
    </div>
    <script defer>
        function dec2bin(dec) {
          return (dec >>> 0).toString(2);
        }

        function randomStr() {
            var x = Math.floor((Math.random() * 16));
            return dec2bin(x & 0xF).padStart(4, '0');;
        }

        var timeout = 4500;

        function update() {
            var element = document.getElementById('binary');
            var t = null;
            do {
                t = randomStr();
            }
            while (t==element.innerText);
            element.innerText = t;

            timeout=Math.pow(timeout, (Math.random()*2-1)*0.2+1.0);
            if (timeout<100)   timeout = 100;
            if (timeout>10000) timeout = 10000;

            setTimeout(update, timeout);
        }

        update();
    </script>
</div>

