<!-- BOOTSTRAP -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

<!-- https://github.com/ForEvolve/bootstrap-dark -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@forevolve/bootstrap-dark@1.0.0/dist/css/toggle-bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@forevolve/bootstrap-dark@1.0.0/dist/css/toggle-bootstrap-dark.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@forevolve/bootstrap-dark@1.0.0/dist/css/toggle-bootstrap-print.min.css" />


<title>{{.Title}}</title>

<link rel="canonical" href="{{ .Permalink }}">

<style>
  .fullwidth { max-width: 640px; }
  h1 {font-size: 2em; margin-top: 1.5em; color: #234;}
  h2, h4 {font-size: 1.2em; margin-top: 1.5em; color: #345;}

  a {color: #06E;}
  a:hover {color: #17F;}

  ul {margin-left: 1.1rem;}

  strong {font-weight: 500;}
</style>

<!-- ради иконки переключения языков подключаем шрифт -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Extended">
